* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family:sans-serif;
  background-color: #f1f3f6;
  --primary-color: #2874f0;
}

.mainBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 1600px;
  padding: 0 8px;
}

/* header */
nav {
  background-color: var(--primary-color);
  height: 56px;
}
nav .nav-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}
nav .nav-container .logo {
  display: flex;
  min-width: 130px;
  justify-content: flex-end;
}
nav .nav-container .logo img {
  width: 75px;
}

nav .search {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
nav .search .search-container {
  width: 450px;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  display: flex;
}
nav .search .search-container input {
  width: 100%;
  padding: 16px;
  outline: none;
  border: none;
}
nav .search .search-container button {
  width: 36px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

nav .login {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
}
nav .login button {
  width: 122px;
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}
nav .become-seller {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

nav .more {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
nav .more svg {
  margin-left: 8px;
  transition: all 0.3s ease-in;
  transform: rotate(-90deg);
}

nav .more svg:hover {
  transform: rotate(-270deg);
}

nav .cart {
  height: 100%;
  gap:7px;
  display: flex;
  align-items: center;
  margin: 0 20px;
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* section 1 */
.section-1 {
  max-width: 100%;
  height: 112px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.section-1-container {
  /*  */
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-1-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 550;
}
.section-1-item img {
  width: 64px;
  height: 64px;
}
.section-1-item a {
  margin: 0px 20px;
}
/* section 2 */

.imageSliderContainer{
  position: relative;
  height: 280px;
  background-color: #f1f3f6;
  padding: 10px 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.imageSliderBtn{
  position: absolute;
  /* z-index: 10; */
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.imageSliderBtn button{
  padding: 30px 12px;
  background-color: white;
  border:none;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  font-size: 30px;
  /* border-radius: 5px; */
  z-index: 13;
}
.imageSliderBtn button:nth-child(odd){
  border-radius: 0px 3px 3px 0px;
}
.imageSliderBtn button:nth-child(even){
  border-radius: 3px 0px 0px 3px;
}


.imageSliderList{
  /* position: absolute; */
  /* z-index: 11; */
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  
}
.imageSliderItem{
  min-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transform: translateX(-400%); */
  transition: transform 0.5s;
}
.imageSliderItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
}


/* slider image animation */

/* @keyframes sliderimages {
  0%{
    transform:translateX(0);
  }
  20%{
    transform:translateX(-100%);
  }
  40%{
    transform:translateX(-200%);
  }
  60%{
    transform:translateX(-300%);
  }
  80%{
    transform:translateX(-400%);
  }
  95%{
    transform:translateX();
  }

} */

/* section 4 */
.section-4-container {
  height: 100%;
  margin-top: 8px;
  /* height: 362px; */
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4-offers {
  width: 230px;
  height: 100%;
}
.section-4-offers-viewall {
  margin-top: 132px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4-offers-viewall button {
  margin-top: 24px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.section-4-offers-viewall img {
  width: 100%;
}

.section-4-list {
  height: 100%;
  /* width: calc(100% - 230px); */
  /* width: 100%; */
  display: flex;
  overflow-x: auto;
}
.section-4-item {
  width: 232px;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-4-item img {
  max-width: 200px;
  max-height: 200px;
}
.section-4-item-head {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}
.section-4-item-price {
  margin-top: 12px;
  font-size: 16px;
  color: #388e3c;
}
.section-4-item-explore {
  opacity: 0.6;
  margin-top: 12px;
  font-weight: 300;
  font-size: 12px;
}

.productName1{
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}
.productPrice1{
  margin-top: 12px;
  font-size: 16px;
  color: #388e3c;
}
.productDesc1 {
  opacity: 0.6;
  margin-top: 12px;
  font-weight: 300;
  font-size: 12px;
}


/* best of electronic */
.section-4-container {
  height: 100%;
  margin-top: 8px;
  /* height: 362px; */
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-4-offers {
  height: 100%;
}
.section-4-offers-viewall {
  margin-top: 132px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-4-offers-viewall button {
  margin-top: 24px;
  height: 40px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.section-4-offers-viewall img {
  width: 100%;
}

.card-product-container {
  height: 100%;
  /* width: calc(100% - 230px); */
  /* width: 100%; */
  display: flex;
  overflow-x: auto;
}
.card-product {
  width: 232px;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-product img {
  max-width: 200px;
  max-height: 200px;
}
.productName{
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
}
.productPrice{
  margin-top: 12px;
  font-size: 16px;
  color: #388e3c;
}
.productDesc {
  opacity: 0.6;
  margin-top: 12px;
  font-weight: 300;
  font-size: 12px;
}



/* section-5 */
.section-5 {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

/* new */


/*************************bestofElectronic_Contianer**************************************************/
.bestofElectronic_Contianer{
  width: 99%;
  height: 310px;
  background-color: red;
}
.bestofElectronicmoreOption{
  height: 100px;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.bestofElectronicmoreOption img{
  height: 100%;
  width: 100%;
}
.BestofElectronic_item{
  background-color: white;
  min-width: 210px;
  max-width:210px ;
  height: 310px;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.viewAllBtn{
  background-color: #2874f0;
  padding: 6px 16px;
  border-radius: 3px;
  color:white;
  font-size: 15px;
}
.bestofElectronic_bigText{
  font-size: 30px;
  text-align: center;
  margin:60px 0px 30px 0px;
}
.bestofElectronic_list{
  display: flex;
}
.bestOfElectornic_image_Product{
  height: max-content;
  text-align: center;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.bestOfElectornic_image_Product img{
  width: 90%;
  max-height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.bestofElectornicProduct_name{
  font-size: 15px;
  padding: 5px;
  letter-spacing: 0.5px;
}
.bestofElecronic_discount{
  color:#388e3c;
}
.bestofElectronic_brand{
  color:rgb(143, 136, 136);
}


.bestofElctronic_product_item{
  display: flex;
  overflow: hidden;
}
.bestofElectronic_brand{
  font-size: 12px;
  padding-top: 7px;
}
.bestofElectornicProduct_name{
  color:#000;
}


.section-5 img {
  width: 33%;
}
/* footer */


footer {
  position: absolute;
  bottom: -340px;
  width: 100%;
  background-color: #172337;
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.footer-row {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 60px;
}
.footer-row2 {
  display: flex;
  border-top: 1px solid #454d5e;
  justify-content: space-evenly;
}
.footer-col-1 {
  width: 15%;
}
.footer-col-2 {
  width: 15%;
}
.footer-col-3 {
  width: 15%;
}
.footer-col-4 {
  width: 10%;
}
.footer-col-5 {
  width: 20%;
  border-left: 1px solid #454d5e;
  height: 120px;
  padding-left: 25px;
}
.footer-col-6 {
  width: 20%;
  padding-left: 50px;
}
.footer-heading p {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
.footer-list a {
  text-align: left;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0px;
}
.footer-list a:hover {
  text-decoration: underline;
}
.footer-list p {
  text-align: left;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 100px;
  padding: 5px 0px;
  line-height: 20px;
  cursor: pointer;
}
.footer-list-address p {
  text-align: left;
  display: block;
  color: white;
  font-size: 12px;
  font-weight: 100px;
  line-height: 20px;
  cursor: pointer;
}
.footer-list-address span {
  color: rgb(60, 109, 245);
  cursor: pointer;
}
.footer-row2-col p {
  color: white;
  font-size: 15px;
  font-weight: 100px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  letter-spacing: 0.7px;
}

.footer-row2-col img{
  margin: -20px;
}

.fa-shopping-bag,
.fa-star,
.fa-gift,
.fa-question-circle {
  color: #ffd700;
  cursor: pointer;
  padding-right: 10px;
  font-size: 15px;
}